.changeCardPanel {
    position: absolute;
    top: -310px;
    left: 11px;
    display: flex;
}

.tradeCard {
    width: 500px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 9px rgba(0,0,0,0.3);
}

.tradeCard>div {
    width: 100%;
    height: 50%;
    padding: 5px;
    box-sizing: border-box;
}

.receiveCard {
    border-bottom: 1px solid #999;
}

.cardGroup {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.cardDisp {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.wantedCard {
    width: 470px;
    height: 50px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.treeWanted {
    background-image: url(../assets/resourceCard/resourceCardTree.png);
}

.brickWanted {
    background-image: url(../assets/resourceCard/resourceCardBrick.png);
}

.sheepWanted {
    background-image: url(../assets/resourceCard/resourceCardSheep.png);
}

.wheatWanted {
    background-image: url(../assets/resourceCard/resourceCardWheat.png);
}

.steelWanted {
    background-image: url(../assets/resourceCard/resourceCardSteel.png);
}

.wantedCard button {
    width: 40px;
    height: 50px;
    margin-left: 10px;
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cardDisplay {
    padding: 10px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    flex: 1;
}

.resourceCard {
    position: relative;
    float: left;
}

.resourceCard div {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}


.resourceCard img {
    width: 55px;
    height: 80px;
    transition: transform 0.2s ease;
}

.resourceCard:hover img {
    transform: translateY(-5px);
}

.countBadge {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: white;
    color: black;
    width: 16px;
    height: 16px;
    font: 900 12px / 16px '';
    padding: 2px 2px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    user-select: none;
}

.resetButton {
    flex-shrink: 0;
    border: none;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #fff;
}

.changeCardSubmit {
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: relative;
    top: 250px;
    left: 10px;
    box-shadow: 0 0 9px rgba(0,0,0,0.5);
}

.size-6-1 {
    width: 100%;
    height: 100%;
    fill: #000;
}

.ownCards {
    width: 500px;
    height: 100%;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 8px;
    box-sizing: border-box;
    gap: 8px;
    position: relative;
    top: 0;
    left: 0;
}


.ownDevelopmentCards .resourceCard img {
    width: 55px;
    height: 80px;
}

.borderStick {
    margin: 0 8px;
    border-right: 1px solid #999;
    width: 1px;
    height: 90px;
    flex-shrink: 0;
}
