.playerPanel {
    width: 320px;
    height: 100vh;
    background-color: #1369a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}

.playerPanel > div {
    background-color: #fff;
    border-radius: 12px;
    width: 90%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    flex-shrink: 0;
}

.log {
    height: 360px;
    text-align: left;
    font-size: 16px;
    color: #000;
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
    margin-bottom: 15px;
}

.log::-webkit-scrollbar {
    width: 6px;
}

.log::-webkit-scrollbar-thumb {
    background-color: #1369a8;
    border-radius: 3px;
}

.otherPlayers {
    height: 360px;
    margin-bottom: 15px;
}

.otherPlayers>div {
    width: 100%;
    height: 25%;
}


.bank {
    height: 80px;
    padding: 12px;
    box-sizing: border-box;
    gap: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.size-5 {
    width: 100%;
    height: 70%;
    fill: #a85613;
}

.bank>div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease;
}

.bank > div:hover {
    transform: scale(1.1);
}

.bankTree {
    background-image: url(../assets/resourceCard/resourceCardTree.png);
}

.bankBrick {
    background-image: url(../assets/resourceCard/resourceCardBrick.png);
}

.bankSheep {
    background-image: url(../assets/resourceCard/resourceCardSheep.png);
}

.bankWheat {
    background-image: url(../assets/resourceCard/resourceCardWheat.png);
}

.bankSteel {
    background-image: url(../assets/resourceCard/resourceCardSteel.png);
}

.bankprog {
    background-image: url(../assets/progCard/progressiveCard-back.png);
}

.player {
    padding: 12px 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.player>div {
    height: 70px;
}

.player>.icon {
    width: 22%;
    display: flex;
    flex-direction: column;
}

.size-4 {
    width: 100%;
    height: 100%;
}

.player1 .size-4 {
    fill: #d53a3a;
}

.player2 .size-4 {
    fill: #df9c1e;
}

.player3 .size-4 {
    fill: #197919;
}

.myProfile .size-4 {
    fill: #1369a8;
}

.player .countSourceCard {
    width: 15%;
    background-image: url(../assets/resourceCard/resourceLessThan8.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.player .countProgCard {
    width: 15%;
    background-image: url(../assets/progCard/progressiveCard-back.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.player .countKnight {
    width: 15%;
    background-image: url(../assets/theif.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.player .countBridge {
    width: 15%;
    background-image: url(../assets/resourceCard/blackRoad.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    position: relative;
}

.myProfile {
    height: 11%;
}
