.playerPanel {
    width: 300px;
    background-color: #1369a8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.playerPanel>div {
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
}

.log {
    height: 40%;
    text-align: center;
    font-size: 24px;
    color: #000;
}

.otherPlayers {
    height: 40%;
}

.otherPlayers>div {
    width: 100%;
    height: 25%;
}

.bank {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.size-5 {
    width: 100%;
    height: 70%;
    fill: #a85613;
}

.bank>div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bankTree {
    background-image: url(../assets/resourceCard/resourceCardTree.png);
}

.bankBrick {
    background-image: url(../assets/resourceCard/resourceCardBrick.png);
}

.bankSheep {
    background-image: url(../assets/resourceCard/resourceCardSheep.png);
}

.bankWheat {
    background-image: url(../assets/resourceCard/resourceCardWheat.png);
}

.bankSteel {
    background-image: url(../assets/resourceCard/resourceCardSteel.png);
}

.bankprog {
    background-image: url(../assets/progCard/progressiveCard-back.png);
}

.player {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player>div {
    height: 80%;
}

.player>.icon {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.size-4 {
    width: 100%;
    height: 100%;
}

.player1 .size-4 {
    fill: #d53a3a;
}

.player2 .size-4 {
    fill: #df9c1e;
}

.player3 .size-4 {
    fill: #197919;
}

.myProfile .size-4 {
    fill: #1369a8;
}

.player .countSourceCard {
    width: 15%;
    background-image: url(../assets/resourceCard/resourceLessThan8.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.player .countProgCard {
    width: 15%;
    background-image: url(../assets/progCard/progressiveCard-back.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.player .countKnight {
    width: 15%;
    background-image: url(../assets/theif.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.player .countBridge {
    width: 15%;
    background-image: url(../assets/resourceCard/blackRoad.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    position: relative;
}

.myProfile {
    height: 11%;
}

.countBadge {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #000;
    background-color: #fff;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    user-select: none;
}